{{#if (eq page.attributes.lang 'en')}}
    <footer class="footer">
        <p>© 2025 Digital Services Development Platform</p>
        <img src="{{uiRootPath}}/static/images/footer-logo.png" class="footer-logo"/>
    </footer>
{{/if}}